* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(119, 119, 249);
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    
    padding: 30px;
    border: 10px solid #031476;
    background-image: url(https://images.pexels.com/photos/2043837/pexels-photo-2043837.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.basic-grid-gallery img {
    width: 100%;
}
