* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: serif;
}

#navbar {
    background: linear-gradient(to bottom, rgb(233, 226, 214), #e2a217);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: rgb(74, 74, 117);
    padding: 24px;
}

#navbar #h2 {
    color:rgb(74, 74, 117);
}

#navbar .cta-button {
    background-color: white;
    color: rgb(74, 74, 117);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}


#header {
    position: sticky;
    top: 0px;
}

#footer {
    background: linear-gradient(to bottom, rgb(145, 90, 2), #493201);
    color: rgb(146, 146, 207);
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: rgb(146, 146, 207);
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}

#footer-columns-navbar a {
    padding: 8px 0px;
}