* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    background: linear-gradient(to bottom, rgb(0, 0, 0), #000000);
    display: flex;
    justify-content: center;
    color: white;
}

#nav a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
img {
    height: 500px;
    flex: 3;
    object-fit: cover;
    margin-top: 50px;
}

.main {
    text-align: center;
}

#footer {
    background: linear-gradient(to bottom, #000000, #000000);
    color: white;
    padding: 12px;
    margin-top: 600px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footernav {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}