
.contain {
    box-sizing: border-box;
    margin: 400;
    padding: 400;
}
.contain h2 {
    text-align:center;
    font-family: serif;
}
.contain p {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}

.contain {
    width: 75%;
    max-width: 500x;
    margin: auto;
    padding: 25px 0;
}

.contain img {
    width: 50%;
    margin: auto;
    border-radius: 50pc;
}