img {
    max-width: 200px;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin:auto;
    background-color: lavenderblush;
    border: 6px ridge darkgoldenrod;
}
#sidebar {
    border:3px ridge darkgoldenrod;
    width:fit-content;
    background-color: lavenderblush;
    display: flex;
    margin: auto;
}