*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: sans-serif;
}
.spacer {
    height:50vh;
}

#hero-1{
    background-image: url(../images/lizard.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}

#hero-1 h1 {
    font-size: 15vw;
    padding-left: 10vw;
}

#hero-2 {
    background-image: url(../images/lonely-ocean.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#hero-2 h2{
    font-size:1.5vw;
    display: inline-block;
    color: darkslategrey;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}